.item-shop {
  cursor: pointer;

  .item-image {
    height: 200px;
    max-height: 200px;
    text-align: center;

    img {
      height: 200px;
      max-height: 200px;
      max-width: 200px;
    }
  }

  .item-text {
    height: 50px;
    overflow: hidden;
  }
}

@media (max-width: 425px) {
  .item-shop {
    padding: 5px;
    width: 50%;
    flex-grow: unset;
    flex-basis: auto;

    .image-card {
      height: 150px;

      img {
        max-width: 150px;
      }
    }
  }
}
