<script id="template-item" type="text/x-handlebars-template">
    <div class="col-lg-3 col-md-4 item-shop">
        <div class="card d-block">
            <div class="item-image">
                <img class="card-img-top d-inline-block" src="" alt="Card image cap">
            </div>
            <div class="card-body p-2">
                <h5 class="card-title text-center">{{titulo}}</h5>
                <div class="item-text card-text text-center">
                    <p>{{descripcion}}</p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-right font-weight-bolder font-15 text-dark">$ {{valor}}</li>
            </ul>
        </div>
    </div>
</script>